<h1>Olá {{ name }}, </h1>
<p>

  Parece que você solicitou a recuperação de senha!

  <br>
<a href="{{ resetPasswordUrl }}" target="_blank">Recuperar senha</a>

</p>
<p>
  Caso não tenha sido você que tenha feito essa solicitação, desconsiderar!
</p>

<strong>Delfinho delas>>>></strong>